/* Elementos html */
html {
    font-family: 'Times New Roman', Times, serif;
}

h1, h2 {
    background-color: #C4C4C4;
    color: #005677;
    font-weight: 700;
    letter-spacing: 10px;
    text-transform: uppercase;
}

h1 {
    font-size: 35px;
    text-align: center;
}

h2 {
    font-size: 20px;
}

/* header */
header { 
    background-color: #E5E5E5;
}

/* main */
main{
    margin: 50px auto; 
    max-width: 1041px;
}

/* footer */
footer{
    background-color: #005677;
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

/* Encabezado de datos personales */
.datos-personales {
    font-style: italic;
    font-weight: bold;
}

/* Encabezados de fechas */
.fecha {
    font-weight: bold;
}